{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="{% static 'css/calendar.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/cal.css' %}">
<link rel="stylesheet" href="{% static 'css/landing2.css' %}">
<link rel="stylesheet" href="{% static 'css/landing3.css' %}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body background="{%static 'img/bg.png'%}">


<div class="row"> 
  <img src="{% static 'img/CM.png' %}" width="180px" height="80px">
            
    <ul class="main-nav">    
        <li class="active"><a href=""> HOME </a></li>
        <li><a href="{% url 'footer' %}"> GALLERY </a></li>
        <li><a href="{% url 'tour' %}"> TOUR</a></li>
        <li><a href=""> CONTACT US </a></li>
    </ul>           
</div>

<div>
  {% block content %}
  {% endblock %}
</div>



</body>
</html>