{% extends 'cm/landing2.html' %}
{% load static %}

{% block content %}




<!-- Hero Image -->

<section class="hero">
	<div class="hero-content">
		<h1>Let's create a modal</h1>
		<h3>Sign Up Now</h3>
		<a href="#" id="button" class="button">Click Me</a>
	</div>
</section>

<!-- Card Section -->

<section class="card-container">
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
</section>

<!-- Modal Section -->

<div class="bg-modal">
	<div class="modal-contents">

		<div class="close">+</div>
		<img src="https://richardmiddleton.me/comic-100.png" alt="">

		<form action="">
			<input type="text" placeholder="Name">
			<input type="email" placeholder="E-Mail">
			<a href="#" class="button">Submit</a>
		</form>












{% endblock %}