{% load static %}
<html>
<head>
	<title>
		
	</title>

<link rel="stylesheet" href="{% static 'css/signup.css' %}">


</head>


<body background="{%static 'img/bg.png'%}">



<div class="row"> 
  <img src="{% static 'img/CM.png' %}" width="180px" height="80px">
            
    <ul class="main-nav">    
        <li><a href="{% url 'home' %}"> HOME </a></li>
        <li><a href=""> GALLERY </a></li>
        <li><a href=""> ABOUT US </a></li>
        <li><a href="{% url 'superUser' %}"> CONTACT US </a></li>

    </ul>           
</div>




	
<div class="container">

	<br><br>
	<h1>S I G N  U P  &nbsp N O W!</h1><BR>
	<form method="POST" action="/accounts">{% csrf_token %}
		<input type="text" name="username" class="form-control" placeholder="Username" required><br>

		<input type="text" name="email" class="form-control" placeholder="Email" required><br>

		<input type="text" name="password" class="form-control" placeholder="Password" required><br>


		<button type="submit">Register</button>


	<!-- <div class="button"> -->
   <!--  </div>  -->

	

	</form>
</div>




<!-- <div class="container1">



	<br><br>
	<img src="{% static 'img/CM.png' %}" width="400px" height="350px">
	

	<h4>BOOK YOUR EVENT NOW!</h4>



</div>

 -->

<!-- 
<div class="container2">

	<br><br>
	<h3>C A L E N D A R </h3>
<br><br>


</div> -->



</body>
</html>